#set ($method = $stepUpMethodContext.getStepUpMethod())
#set ($account = $method.getAccount())
#set ($qrLocation = "https://chart.googleapis.com/chart?chs=200x200&chld=M%%7C0&cht=qr&chl=otpauth://totp/%s@%s%%3Fsecret%%3D%s")
#set ($proxyName = "Haka")
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>
        <div style="width:100%">
          #set ($method = $mapEntry.getKey())
          #set ($methodName = $method.getName())
          <!-- add new account -->
          <p>#springMessageText("idp.stepup.method", "Authentication Method:")$encoder.encodeForHTML($methodName)</p>
          <br>
          <p>#springMessageText("idp.stepup.method.exp", "Creating a new authentication method will revoke any existing TOTP secret. Creating a new method will result in a new TOTP secret.")</p>
          <br>
          #set ($action = $methodName+':addaccount')
          <form action="$flowExecutionUrl" method="post">
            #parse("csrf/csrf.vm")
            <div class="form-element-wrapper">
              <button class="form-element form-button" value=$encoder.encodeForHTML($action) type="submit" name="_eventId_update">#springMessageText("idp.stepup.method.newaccount", "Create Authentication Method")</button>
            </div>
          </form>
          <!-- show new otp secret -->
          #if ($accountUpdated == true && $account)
          #springMessageText("idp.stepup.performed","Authentication method has been added. Please set the shared secret to your device: <br>")
          $encoder.encodeForHTML($account.getTarget())<br><br>
          #set ($qrCode = $qrLocation.format($qrLocation,"",$proxyName,$account.getTarget()))
          <img src='$qrCode' style="width:128px;height:128px;">
          #end
          <!-- remove otp secret -->
          #if ($account)
          <p>#springMessageText("idp.stepup.method.remove", "Removing the authentication method will revoke your existing TOTP secret.")</p>
          <br>
          #set ($action = $methodName+':removeaccount')
          <form action="$flowExecutionUrl" method="post">
            #parse("csrf/csrf.vm")
            <div class="form-element-wrapper">
              <button class="form-element form-button" value=$encoder.encodeForHTML($action) type="submit" name="_eventId_update">#springMessageText("idp.stepup.update.removeaccount", "Remove Current Authentication Method")</button>
            </div>
          </form>
          #end        
        </div>
        <form action="$flowExecutionUrl" method="post">
          #parse("csrf/csrf.vm")
          <div class="form-element-wrapper">
            <button class="form-element form-button" type="submit" name="_eventId_proceed">#springMessageText("idp.stepup.reinitlogin", "Return to service")</button>
          </div>
        </form>
      </div>
      <footer>
        <div class="container container-footer">
          <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>
  </body>
</html>