<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
        <link rel="stylesheet" href="$request.getContextPath()/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="$request.getContextPath()/foundation/css/foundation.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="$request.getContextPath()/foundation/js/vendor/jquery.js"></script>
        <script src="$request.getContextPath()/js/app.js"></script>
    </head>
    
    <body>
        <header class="header">
            <div class="headertext right-align">
                <a href="$request.getContextPath()/faq.html" class="headertext">#springMessageText("idp.stepup.faq","FAQ")</a>
                <div class="dropdown">
                    <button class="dropbutton"><span id="lang-value"></span><i class="fa fa-caret-down header-icon"></i></button>
                    <div class="dropdown-content" id="lang-options"></div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="title logo-heading">
                <img src="$request.getContextPath()/img/haka_logo.svg" height="51" width="161">
            </div>

            <p>#springMessageText("idp.stepup.mfaerror","Unfortunately we are not able to perform elevated authentication required to access service.")</p>
            <p>#springMessageText("idp.stepup.mfaerror.explanation","The error reported is:")</p>
            <p>$oidcStepUpContext.getErrorCode()</p>
            <p>$oidcStepUpContext.getErrorDescription()</p>
        </div>

        <footer class="footer">
            <div class="footercontainer">
                <div class="footer-info hide-for-small-only">
                    #springMessageText("idp.footer.info", "Haka federation is operated by CSC-IT Center for Science Ltd.")
                    <br>
                    #springMessageText("idp.footer.link", "www.csc.fi")
                </div>
                <img src="$request.getContextPath()/img/CSC_LOGO_nega.png" class="footer-logo">
            </div>
        </footer>
    </body>
</html>

