<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="ChallengeSender" class="fi.csc.idp.stepup.impl.ChallengeSenderStepUpAccount"/>

  <bean id="LogStepUpAccount" class="fi.csc.idp.stepup.impl.ChallengeSenderStepUpAccount" 
      scope="prototype" p:ChallengeGenerator-ref="ChallengeGenerator" 
      p:ChallengeVerifier-ref="EqualVerifier" p:ChallengeSender-ref="LogChallengeSender"/>

  <bean id="LogChallengeSender" class="fi.csc.idp.stepup.impl.LogChallengeSender"/>

  <bean id="ChallengeGenerator" class="fi.csc.idp.stepup.impl.DigestChallengeGenerator" p:decimal="true"/>

  <bean id="EqualVerifier" class="fi.csc.idp.stepup.impl.EqualChallengeResponseVerifier"/>
  
</beans>
