#set ($stepupMethods = $stepUpMethodContext.getStepUpMethods())
<!-- really should be set by account method -->
#set ($qrLocation = "https://chart.googleapis.com/chart?chs=200x200&chld=M%%7C0&cht=qr&chl=otpauth://totp/%s@%s%%3Fsecret%%3D%s")
#set ($proxyName = "Haka")
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>
        <div style="width:100%">
            #foreach ($mapEntry in $stepupMethods.entrySet())
                #set ($method = $mapEntry.getKey())
            	#set ($methodName = $method.getName())
                <hr>
                <p>#springMessageText("idp.stepup.method", "Authentication Method:")</p>
                <p>$methodName</p>
                <!-- add new account -->
                #if ($method.isEditable() == true)
                #set ($action = $methodName+':-1:addaccount')
                <form action="$flowExecutionUrl" method="post">
                    <div class="form-element-wrapper">
                      <button class="form-element form-button" value=$action type="submit" name="_eventId_update">#springMessageText("idp.stepup.method.addaccount", "Add Account")</button>
                    </div>
                    </form>
                #end
                <!-- add new account end-->
                <table style="width:100%;table-layout:auto">
       	       	  <tr>
       	       	    <th align="left">#springMessageText("idp.stepup.methodaccounts.name", "Name")</th>
                    <th align="left">#springMessageText("idp.stepup.methodaccounts.enabled", "Enabled")</th>
                    <th align="left">#springMessageText("idp.stepup.methodaccounts.key", "Key")</th>
      	          </tr>
                <!-- list all accounts of method -->
                <p>#springMessageText("idp.stepup.methodaccounts", "Existing accounts:")</p>
                #set ($counter = 0)
                #foreach ($account in $$method.getAccounts())
                  <tr>
                  #set ($counter = $counter+1)
                  #set ($accountName = $account.getName())
                  #if (!$account.getName())
                    #set ($accountName = "")
                  #else
                    #set ($accountName = $account.getName())
                  #end
                  #if ($account.isEditable() == false)
                    <td>$accountName</td>
                    <td>$account.isEnabled()</td>
                    <td>
                    #if ($account.getTarget())
                      Key:$account.getTarget()
                      <!-- TODO: show only for specific method types -->
                      #set ($qrCode = $qrLocation.format($qrLocation,$accountName,$proxyName,$account.getTarget()))
                      <p> <img src='$qrCode' style="width:128px;height:128px;"> </p>
                    #end
                    </td>
                  #end

                  <!-- if account is editable, we have controls -->
                  #if ($account.isEditable() == true)
                    
                    <!-- set name -->
                    <td valign="bottom">
                    #set ($action = $methodName+':'+$account.getId()+':setname')
                    <form action="$flowExecutionUrl" method="post">
                     <div class="form-element-wrapper">
                       <input class="form-element form-field" id=$methodName$counter name="j_name" type="text" style="width:80%" value=$accountName>
                     </div>
                     <div class="form-element-wrapper">
                       <button class="form-element form-button" value=$action type="submit" name="_eventId_update" style="width:80%">#springMessageText("idp.stepup.update.set", "Set Name")</button>
                     </div>
                    </form>
                    </td>
                    <!-- set name end -->
         
                    <!-- enable /disable button -->
                    <td valign="bottom">
                    #if ($account.isEnabled() == true)
                      #set ($enableCommand = 'disable')
                      <!--  springMessageText("idp.stepup.update.disable", "disable"))-->
                      #set ($enableText = 'Disable Account')
                    #else
                       #set ($enableCommand = 'enable')
                       #set ($enableText = 'Enable Account')
                    #end
                    #set ($action = $methodName+':'+$account.getId()+':'+$enableCommand)
                    <form action="$flowExecutionUrl" method="post">  
                    <div class="form-element-wrapper">
                      <button class="form-element form-button" value=$action type="submit" name="_eventId_update" style="width:80%">$enableText</button>
                    </div>
                    </form>
                    </td>
                    <!-- enable /disable button end -->
                    <td>
                      Key:$account.getTarget()
                      <!-- TODO: show only for specific method types -->
                      #set ($qrCode = $qrLocation.format($qrLocation,$accountName,$proxyName,$account.getTarget()))
                      <img src='$qrCode' style="width:128px;height:128px;"> 
                    </td>
       	       	  #end
                  </tr>
                #end
                </table>
            #end 
          </div>

          <form action="$flowExecutionUrl" method="post">
            <div class="form-element-wrapper">
              <button class="form-element form-button" type="submit" name="_eventId_proceed">#springMessageText("idp.stepup.reinitlogin", "Reinit Login")</button>
            </div>

          </form>

      </div>
      <footer>
        <div class="container container-footer">
          <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>
  </body>
</html>
