<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>
        <div class="content">
        #springMessageText("idp.stepup.startregister","TOTP account management requires first SMS verification.")<br>
        <form action="$flowExecutionUrl" method="post">
        <div class="form-element-wrapper">
              <button class="form-element form-button" type="submit" name="_eventId_proceed">#springMessageText("idp.stepup.proceedregistration", "Proceed to Verification")</button>
        </div>
        </form>
       </div>
      </div>
      <footer>
        <div class="container container-footer">
          <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>
  </body>
</html>
