<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#springMessageText("stepup.title", "Web Stepup Service")</title>
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("stepup.logo")" alt="#springMessageText("stepup.logo.alt-text", "logo")">
        </header>
        <div class="content">

          <form action="$flowExecutionUrl" method="post">

            <div class="form-element-wrapper">
              <label for="loginhint">#springMessageText("stepup.stepup.response", "Password")</label>
              <input class="form-element form-field" id="loginhint" name="j_challengeResponse" type="text" value="">
            </div>

            <div class="form-element-wrapper">
              <button class="form-element form-button" type="submit" name="_eventId_proceed">#springMessageText("stepup.stepup.login", "Login")</button>
            </div>

          </form>

        </div>
      </div>
      <footer>
        <div class="container container-footer">
          <p class="footer-text">#springMessageText("stepup.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>
  </body>
</html>
